#!/bin/bash
################################################################
# LICENSED MATERIALS - PROPERTY OF IBM
# "RESTRICTED MATERIALS OF IBM"
# (C) COPYRIGHT IBM CORPORATION 2021. ALL RIGHTS RESERVED
# US GOVERNMENT USERS RESTRICTED RIGHTS - USE, DUPLICATION,
# OR DISCLOSURE RESTRICTED BY GSA ADP SCHEDULE
# CONTRACT WITH IBM CORPORATION
################################################################

TSOUSER="{{ hlq }}"
PASSWORD="{{ password }}"
HOSTNAME="{{ ansible_host }}"             # zOS host name
PROFILEBASENAME="{{ host }}"
RSEPORT="{{ rse_api_port }}"                           # rse api port
SSHPORT="{{ ssh_port }}"                             # ssh port

echo "Creating RSE profile and setting as default..."
set -x
zowe profiles create rse-profile ${PROFILEBASENAME}-rse --host ${HOSTNAME} --port ${RSEPORT} --user ${TSOUSER} --pass ${PASSWORD} --bp rseapi --protocol https --reject-unauthorized false --ow
zowe profiles set rse ${PROFILEBASENAME}-rse
set +x

echo "Creating SSH profile and setting as default..."
set -x
zowe profiles create ssh-profile ${PROFILEBASENAME}-ssh --host ${HOSTNAME} --user ${TSOUSER} --pass ${PASSWORD} --port ${SSHPORT} --ow
zowe profiles set ssh ${PROFILEBASENAME}-ssh
set +x
